*{
	margin: 0;
	padding: 0;
    outline: 0;
}
ul{
	padding:0;
}
body{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: #7febb3;
}

/* section:nth-child(odd){
	background-color: #192633;
}
section:nth-child(even){
	background-color: #131d27;
}
.boxbg{
	background-color: #192633;
} */
.section--1{
	background-color: #ffdb66;
}
.section--2{
	background-color: #66ffb3;
}
.section--3{
	background-color: #f150dc;
}
.section--4{
	background-color: #5b9ef7;
}
/* ============================================    Header  ========================*/

.label__section{
    position: fixed;
    display: inline-block;
	top:0;
	left: 0;
	height: 22px;
	line-height: 20px;
	padding: 0px 21px 0px 7px;
	background-color: #f25850;
	color: #ffffff;
	font-family: 'Calling Code', sans-serif;
	font-size: 16px;
	text-transform: lowercase;
	transform: translate(74px,130px);
	overflow: hidden;
	z-index: 100;
}
.label__section p{
	vertical-align: middle;
	width: 36px;
	transform: translateY(0px);
	transition: width .6s ease, transform .2s ease;
	white-space: nowrap;
}
.label__pagination{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 80px;
	width: 80px;
	border-radius: 0px;
	background-color: #f25850;
	color: #ffffff;
	padding: 20px;
	flex-direction: column;
	z-index: 100;
	overflow: hidden;	
	letter-spacing: 1px;
}
.label__pagination h3{
	font-family: 'Metropolis', sans-serif;
	font-weight: 700;
 	font-size: 28px;
 	margin-bottom: 0px;
 	line-height: 28px;
	transition: all .4s ease;
	transform: translateY(0px);
}
.label__pagination h5{
	font-family: 'Metropolis', sans-serif;
	font-weight: 400;
 	font-size: 14px;
 	padding-left: 23px;
 	line-height: 14px;
 	color: #fff;
}



/* ======================================================================== */
/*                            nav button -> star                            */
/* ======================================================================== */
.nav__btn{
	padding: 10px;
	background-color: transparent;
	border: 0;
	position: absolute;
	outline: 0;
	z-index: 101;
	cursor:pointer;
	transform: translate(64px, 60px);
	transition: all .5s ease;
	position: fixed;
}
.menu-inner{
	background: #f25850;
	height: 2px;
	width: 15px;
	display: block;
	transition: all .5s ease;
	transform: translateX(0px) rotate(0deg);
	opacity: 1;
}
.menu-btn::before{
	content: ".";
	font-size: 0px;
	display: block;
    width: 25px;
    height: 2px;
   	background: #ffffff;
	transition: all .2s ease;
	position: absolute;
	top:3px;
}
.menu-btn::after{
	content: ".";
	font-size: 0px;
	display: block;
    width: 25px;
    height: 2px;
   	background: #ffffff;
	transition: all .2s ease;
	position: absolute;
	bottom:3px;
}
.nav__btn:hover .menu-inner {
	width: 25px;
	
}
.nav__btn:hover .menu-btn::before {
	width: 15px;
}
.nav__btn:hover .menu-btn::after {
	width: 15px;
}
.nav__btn.open .menu-inner {
	transform:  translate(70px, 0px) ;
	width: 25px;
	opacity: 0;
}
.nav__btn.open .menu-btn::before {
	transform: translate(0px,12px) rotate(-45deg);
	width: 25px;
}
.nav__btn.open .menu-btn::after {
	transform: translate(0px,-2px) rotate(45deg);
	width: 25px;
}
.nav__btn.open:hover .menu-btn::after,
.nav__btn.open:hover .menu-btn::before {
	background:#ffdb66;
}
/* ======================================================================== */
/*                            nav button -> end                             */
/* ======================================================================== */
.nav{
	height: 0;
}
.nav__wrapper {
	transition: all .5s ease;
}
.nav__wrapper.show{
	height: 100vh;
	width: 100%;
	transform: scale(1);
	opacity: 1;
	top:0;
	z-index: 100;
	position: fixed;
}
.nav__wrapper.hide{
	transform: scale(0.01);
	opacity: 0;
	transform-origin: 125px 35px;
	transition-delay: 0s;
}
.nav__links{
	width: 	100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.nav__item{
	display: block;
	width: 100%;
	text-align: center;
}
.nav__link{
	display: block;
	padding:10px; 
	font-family: 'Calling Code', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;	
}
.nav__link:hover{
	color: #07335d;
	background-color: rgba(255,218,101,.9);
}
.nav__link.active{
	color: #f15850;
}
.language{
	position: fixed;
	top: 64px;
	right: 60px;
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	font-size: 16px;
	z-index: 100;
}
.language a{
	display: inline-block;
	height: 20px;
	width: 50px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.language a:hover{
	color: #07335d;
	background-color: #ffdb66;
}
.language a.active{
	color: #07335d;
	background-color: #ffdb66;
}
#fv-dots {
    left: 0%;
    padding-left: 130px;
}
#fv-dots ul li a span{
	display: inline-block;
	height: 9px;
	width: 9px;
	border:1px solid #ffffff;
	background-color: transparent;
	transition: none;
}
#fv-dots ul li a span:hover{
	background-color: #ffffff;
}
#fv-dots ul a.active span{
	background-color: #ffffff;
	transform: rotate(0deg);
	height: 9px;
	width: 9px;
}

.label__tag{
	left: 60px;
	bottom: 64px;
	color: #ffffff;
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	z-index: 100;
	position: fixed;
}
.label__tag p{
	margin-bottom: 0px;
}
.section {
	width: 100%;
	height: 100%;
}
.logo{
	position: fixed;
	top:50px;
	left: calc(50% - 59px);
	z-index: 100;
	color: white;
}
